In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [5]:
"""A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list.
They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level."""

'A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list.\nThey collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.\nAnalyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.'

In [16]:
# now let us denote what is our null hypothesis
ho="There is no  difference in the Turn Around Time(TAT) among 4 Labs"

# now let us denote what is our alternative hypothesis
ha="There is a  difference in the Turn Around Time(TAT) among 4 Labs"

In [7]:
# load the dataset
data=pd.read_csv('E:\Assignment 3/LabTAT.csv')
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [17]:
df=pd.DataFrame(data)
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [20]:
# as per my understanding of hypothesis testing
# the given data contains more than two samples of data so it's best to go with annova test
# annova test compares all the 4 labs tat and even if one is not matching with the other it will reject null hypothesis
# as the data consists of 4 lab sample data so we have to go with one way annova test

In [21]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value=stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [22]:
p_value[1]

2.1156708949992414e-57

In [23]:
# comparing p_value with α = 0.05 (At 5% significance level) and deriving the results of hypothesis test

alpha = 0.05

if p_value[1] <= alpha:
    print("ho is rejected and ha is accepted")
    print(ha)
else:
    print("ho is accepted and ha is rejected")
    print(ho)

ho is rejected and ha is accepted
There is a  difference in the Turn Around Time(TAT) among 4 Labs

In [26]:
print("conlusion")
print("finally we confirm after seeing all the results is that")
print(ha)

conlusion
finally we confirm after seeing all the results is that
There is a  difference in the Turn Around Time(TAT) among 4 Labs