In [32]:
# importing all the packages and naming them as per our convinience.
import pandas as pd
import numpy as np
import statistics as stat

In [33]:
# importing the data using pandas.
data=pd.read_csv("E:\Assignment 1\Q7.csv")
data

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [34]:
# creating a dataframe using pandas.
df=pd.DataFrame(data)
df

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [35]:
# creating an array using numpy to perform all the statistics operations easily.
ar_points=np.array(df["Points"])
print("ar_points =",ar_points)
ar_score=np.array(df["Score"])
print("ar_score =",ar_score)
ar_weigh=np.array(df["Weigh"])
print("ar_weigh =",ar_weigh)

ar_points = [3.9  3.9  3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 3.92 3.07 3.07 3.07
 2.93 3.   3.23 4.08 4.93 4.22 3.7  2.76 3.15 3.73 3.08 4.08 4.43 3.77
 4.22 3.62 3.54 4.11]
ar_score = [2.62  2.875 2.32  3.215 3.44  3.46  3.57  3.19  3.15  3.44  3.44  4.07
 3.73  3.78  5.25  5.424 5.345 2.2   1.615 1.835 2.465 3.52  3.435 3.84
 3.845 1.935 2.14  1.513 3.17  2.77  3.57  2.78 ]
ar_weigh = [16.46 17.02 18.61 19.44 17.02 20.22 15.84 20.   22.9  18.3  18.9  17.4
 17.6  18.   17.98 17.82 17.42 19.47 18.52 19.9  20.01 16.87 17.3  15.41
 17.05 18.9  16.7  16.9  14.5  15.5  14.6  18.6 ]

In [36]:
# deriving the required statistics for points variable using stat and numpy and saving them.
points_mean=stat.mean(ar_points)
points_median=stat.median(ar_points)
points_mode=stat.mode(ar_points)
points_stdev=stat.stdev(ar_points)
points_max=np.max(ar_points)
points_min=np.min(ar_points)
points_range=points_max-points_min

In [37]:
print("points_mean",stat.mean(ar_points))
print("points_median",stat.median(ar_points))
print("points_mode",stat.mode(ar_points))
print("points_stdev",stat.stdev(ar_points))
print("points_max",np.max(ar_points))
print("points_max",np.min(ar_points))
print("points_range",points_max-points_min)

points_mean 3.5965625
points_median 3.6950000000000003
points_mode 3.92
points_stdev 0.5346787360709715
points_max 4.93
points_max 2.76
points_range 2.17

In [67]:
# deriving the required statistics for score variable using stat and numpy and saving them.
score_mean=stat.mean(ar_score)
score_median=stat.median(ar_score)
score_mode=stat.mode(ar_score)
score_stdev=stat.stdev(ar_score)
score_max=np.max(ar_score)
score_min=np.min(ar_score)
score_range=score_max-score_min

In [66]:
print("score_mean",stat.mean(ar_score))
print("score_median",stat.median(ar_score))
print("score_mode",stat.mode(ar_score))
print("score_stdev",stat.stdev(ar_score))
print("score_max",np.max(ar_score))
print("score_min",np.min(ar_score))
print("score_range",score_max-score_min)

score_mean 3.21725
score_median 3.325
score_mode 3.44
score_stdev 0.9784574429896967
score_max 5.424
score_min 1.513
score_range 3.9110000000000005

In [42]:
# deriving the required statistics for weigh variable using stat and numpy and saving them.
weigh_mean=stat.mean(ar_weigh)
weigh_median=stat.median(ar_weigh)
weigh_mode=stat.mode(ar_weigh)
weigh_stdev=stat.stdev(ar_weigh)
weigh_max=np.max(ar_weigh)
weigh_min=np.min(ar_weigh)
weigh_range=weigh_max-weigh_min

In [65]:
print("weigh_mean",stat.mean(ar_weigh))
print("weigh_median",stat.median(ar_weigh))
print("weigh_mode",stat.mode(ar_weigh))
print("weigh_stdev",stat.stdev(ar_weigh))
print("weigh_max",np.max(ar_weigh))
print("weigh_min",np.min(ar_weigh))
print("weigh_range",weigh_max-weigh_min)

weigh_mean 17.84875
weigh_median 17.71
weigh_mode 17.02
weigh_stdev 1.786943236096843
weigh_max 22.9
weigh_min 14.5
weigh_range 8.399999999999999

In [44]:
# we can also use the describe inbuilt function to get statistics of the data

df.describe()

# but as of now for this question the median and mode were also asked so i went with the numpy and stats packages to draw required statistics

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [56]:
# now it's time to draw some inferences using the stats data

print("points_mean=",points_mean,sep="",end="|"),print("points_median=",points_median,sep="",end="|"),print("points_mode=",points_mode)
print("score_mean=",score_mean,sep="",end="|"),print("score_median=",score_median,sep="",end="|"),print("score_mode=",score_mode)
print("weigh_mean=",weigh_mean,sep="",end="|"),print("weigh_median=",weigh_median,sep="",end="|"),print("weigh_mode=",weigh_mode)

# in the variable statistics of points there is gradual increase in the statistics value i.e mean<median<mode.hence, the data is negatively skewed

# in the variable statistics of score there is gradual increase in the statistics value i.e mean<median<mode.hence, the data is negatively skewed

# in the variable statistics of weigh there is gradual decrease in the statistics value i.e mode<median<mean.hence, the data is positively skewed

points_mean=3.5965625|points_median=3.6950000000000003|points_mode= 3.92
score_mean=3.21725|score_median=3.325|score_mode= 3.44
weigh_mean=17.84875|weigh_median=17.71|weigh_mode= 17.02

(None, None, None)

In [63]:
print("points_stdev=",points_stdev,sep="",end="|"),
print("score_stdev=",score_stdev,sep="",end="|"),
print("weigh_stdev=",weigh_stdev,sep="",end="|")

# as we can see that the lowest deviated value in the variable is points continuing with the score and weight 
# i.e points_stdev>score_stdev>weigh_stdev.
# we can say that the values in the point variable are almost same with -0.53 or +0.53
# where as the score variable values are differing with -0.97 or +0.97
# but the weigh variable has the highest deviation of -1.78 or +1.78 if yoou compare with the other variables

points_stdev=0.5346787360709715|score_stdev=0.9784574429896967|weigh_stdev=1.786943236096843|

In [68]:
print("points_range=",points_range,sep="",end="|"),
print("score_range=",score_range,sep="",end="|"),
print("weigh_range=",weigh_range,sep="",end="|")

# as we know that range defines the width of the data
# it is same as the above results because the higher the devation is the higher the range
# i.e points_range>score_range>weigh_range
# point variable has the lowest range among the others
# with weigh variable having the highest range over the middle value range of score variable

points_range=2.17|score_range=3.9110000000000005|weigh_range=8.399999999999999|